/* Tailwind */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* css code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: overlay;
}

/* Intro logo animation */

.svg-elem-2 {
  transform-origin: center;
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.12s both;
  animation: animate-svg-stroke-2 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1;
}

.svg-elem-3 {
  transform-origin: center;
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.24s both;
  animation: animate-svg-stroke-3 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 83.68140899333463px;
    stroke-dasharray: 83.68140899333463px;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 83.68140899333463px;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 83.68140899333463px;
    stroke-dasharray: 83.68140899333463px;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 83.68140899333463px;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 82.49174499511719px;
    stroke-dasharray: 82.49174499511719px;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 82.49174499511719px;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 82.49174499511719px;
    stroke-dasharray: 82.49174499511719px;
  }

  80% {
    stroke-dashoffset: 0;
    stroke-dasharray: 82.49174499511719px;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* styling scroll-bar */

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #191f2f;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* styling selection */

::selection {
  background-color: #3a4258e7;
  color: #b3beda;
}

/* other css code */

.vertical-rl {
  writing-mode: vertical-lr;
}

.down {
  top: -80px;
}

.up {
  top: 0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  backdrop-filter: blur(10px);
}
